* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: lightsalmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header img {
    padding-left: 1rem;
    height: 100px;
}

header nav {
    display: flex;
    gap: 1rem;

}

header nav a{
    text-decoration: none;
    flex: 0 0 auto; /* Prevents text wrap */
}

.content {
    flex: 1 0 auto;
    background: yellow;
}

footer {
    background: lightblue;
    height: 100px;
}

header, footer{
    flex-shrink: 0;
}

/**/
@media (min-width:  480px) {
    .content {
        background: teal;
    }
}

/**/
@media (min-width:  768px) {
    .content {
        background: teal;
    }
}

/**/
@media (min-width:  1024px) {
    .content {
        background: teal;
    }
}

/**/
@media (min-width:  1200px) {
    .content {
        background: teal;
    }
}

/**/
@media (min-width:  480px) {
    .content {
        background: teal;
    }
}

/**/
@media (min-width:  480px) {
    .content {
        background: teal;
    }
}
