header nav {
	background: var(--color-1);
	display: flex;
	align-items: center;
	padding: 0.12rem 3.2rem;

	font-size: 1.05rem;
}

header nav .logo {
	height: var(--main-logo-height);
}

header nav .nav-icon {
	width: 2rem;
	height: 2rem;
	fill: var(--text-color);
}

header nav .links-container {
	height: 4rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

header nav a {
	height: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	border-radius: 2rem;

}

.open-sidebar-button,
.close-sidebar-button {
	display: none;
	border-radius: 2rem;
}

header nav a:hover,
.open-sidebar-button:hover,
.close-sidebar-button:hover {
	background: var(--accent-color);
	transition: 0.2s ease-in-out;

}

#sidebar-active {
display: none;
}

@media (max-width: 890px) {
	header nav .links-container {
		flex-direction: column;
		justify-content: flex-start;

		position: fixed;
		top: 0;
		right: -100%;
		z-index: 10;
		width: 14rem;
		height: 100%;
		padding: 1rem;
		padding-top: 1.8rem;


		background-color: var(--color-1);
		box-shadow: -5px 0 10px rgba(0, 0, 0, 0.10);
		transition: 0.4s ease-in-out;
	}

	header nav a {
		height: auto;
		width: 100%;
		padding: 1rem 1rem;
		align-items: flex-end;
	}

	.open-sidebar-button,
	.close-sidebar-button {
		padding: 1rem;
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}

	.open-sidebar-button {
		margin-left: auto;
	}

	.close-sidebar-button {
		width: 100%;
	}

	#sidebar-active:checked~.links-container {
	right: 0;
	}

	#sidebar-active:checked~#overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	}
}
